<card title='{{isEdit?" Edit ":"Add "}} Category'>
	<div actions>
		<action *ngIf="isEdit" icon="fa fa-plus" [href]="'/category/child/add/' + category.id" text="Add Child Category" alt="Add Child Category"></action>
	</div>
	<div [id]="formId">
		<div class="row">
			<div class="col-sm-6">
				<textbox label="Category Name" [required]="true" [(value)]="category.name" (keydown.enter)="onKeyUp($event)"></textbox>
			</div>
			<div class="col-sm-6">
				<textbox label="Category Description" [required]="true" [(value)]="category.description" (keydown.enter)="onKeyUp($event)"></textbox>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 d-flex align-items-center">
				<checkbox [(value)]="category.isActive" label="IsActive"></checkbox>
			</div>
			<div class="col-sm-10">
				<upload label="Category Image" class="pull-left" (fileChanged)="file = $event"></upload>
			</div>
		</div>
		<hr/>
		<button class="btn btn-outline-secondary float-left" (click)="back()">Back</button>
		<div>
			<button class="btn btn-info float-right" type="button" (click)="save()">Save</button>
		</div>
	</div>
</card>