<div class="mb-3 clearfix">
	<div class="pull-let wd-md">
		<input *ngIf="config.filtering" placeholder="Filter all columns" [ngTableFiltering]="config.filtering" class="form-control" (tableChanged)="onChangeTable(config)" />
	</div>
</div>
<div class="card card-default">
	<div class="table-responsive">
<!--         <ng-table [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="onCellClick($event)" [rows]="rows" [columns]="columns"> 
</ng-table> -->
		<table class="table table-bordered">
			<thead class="text-{{color}}">
				<tr>
					<th *ngFor="let col of columns" class="text-uppercase" [ngClass]="{'text-center': col.name == 'settings' }" >{{col.name}}</th>
				</tr>
				<tr *ngIf="emptyData">
					<td [attr.colspan]="columns.length+1" class="text-center">
						<h5 *ngIf="fakeLoading">
							<i class="fas fa-spinner fa-spin fa-2x"></i>
						</h5>

						<h5 *ngIf="!fakeLoading">
						{{ emptyDataText || 'No data until now'}}</h5>
					</td>
				</tr>
			</thead>

			<ng-content></ng-content>

		</table>
	</div>
</div>
<div class="text-right">
	<pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
	</pagination>
</div>
<!-- <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre> -->