<card title='{{isEdit?" Edit ":"Add "}} Status'>
	<div [id]="formId">
		<div class="row">
			<div class="col-sm-6">
				<textbox label="Status Name" [required]="true" [(value)]="status.name" (keydown.enter)="onKeyUp($event)"></textbox>
			</div>
			<div class="col-sm-6">
				<textbox label="Status Order" type="number" [required]="true" [(value)]="status.order" (keydown.enter)="onKeyUp($event)"></textbox>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<textbox label="Status ColorInHex" [required]="true" [(value)]="status.colorInHex" (keydown.enter)="onKeyUp($event)"></textbox>
			</div>
			<div class="col-sm-6 d-flex align-items-center">
				<checkbox [(value)]="status.isActive" label="IsActive"></checkbox>
			</div>
		</div>
		<hr/>
		<button class="btn btn-outline-secondary float-left" (click)="back()">Back</button>
		<div>
			<button class="btn btn-info float-right" type="button" (click)="save()">Save</button>
		</div>
	</div>
</card>