<card title='{{isEdit?" Edit ":"Add "}} Menu'>
    <div>
        <app-menu [(menu)]="menu" ></app-menu>
    </div>
    <div *ngIf="isEdit" >
        <card>
            <tabset class="bg-white p-0" justified="true" >
                <tab>
                    <ng-template tabHeading>
                        <em class="far fa-images fa-fw" ></em> Sections
                    </ng-template>
                    <div>
                      <app-sections [(menu)]="menu" ></app-sections>
                  </div>
              </tab>
              <tab>
                <ng-template tabHeading>
                    <em class="fas fa-align-center" ></em> Menu Item
                </ng-template>
                <div>
                  <app-menu-item [(menu)]="menu" ></app-menu-item>
              </div>
          </tab> 
      </tabset>
  </card>
  <hr/>
</div>
</card>
