<card title="Discounts">
	<div actions>
		<action icon="fa fa-plus" [href]="placeId ? '/discount/add/' + placeId : '/discount/add/' " text="Add Discount" alt="Add Discount"></action>		
	</div>
	<app-datatable [(columns)]="columns" [(data)]="placeId ? discounts : discountList" [fakeLoadingFor]="2000" (tableChange)="data = $event" [emptyData]="data.length === 0" emptyDataText="No Discounts until now">
		<tbody>
			<tr *ngFor="let discount of discounts; let i=index">
				<td> {{discount.id}} </td>
				<td> {{discount.user?.username}}</td>
				<td> {{discount.user?.email}}</td>
				<td> {{discount.percent}} %</td>
				<td> {{discount.expireDate | date: 'dd/MM/yyyy hh:mm a' }}</td>
				<td class="text-right">
					<a class="mr-1 mb-1 btn btn-outline-info" [routerLink]="[placeId ? '/discount/edit/'+ discount.id + '/' + placeId : '/discount/edit/']">Edit</a>
					<checkbox [(value)]="discount.isActive" class="pull-left" label="IsActive" (change)="save(discount)" ></checkbox>
				</td>
			</tr>
		</tbody>
	</app-datatable>
</card>