<card title="Organisation Users">
	<div actions *ngIf="organisationId">
		<action icon="fa fa-plus" [href]="'/organisations/user/add/' + organisationId" text="Add Organisation User" alt="Add Organisation"></action>
	</div>
	<app-datatable *ngIf="userList.length > 0" [(columns)]="columns" [(data)]="userList" [fakeLoadingFor]="2000" (tableChange)="data = $event" [emptyData]="data.length === 0" emptyDataText="No Users until now">
		<tbody>
			<tr *ngFor="let user of data; let i=index">
				<td> {{user.id}} </td>
				<td>{{user.login}}</td>
				<td>{{user.userName}}</td>
				<td class="text-right">
					<checkbox [(value)]="user.isActive" class="pull-left" label="IsActive" (change)="save(user)" ></checkbox>
				</td>
			</tr>
		</tbody>
	</app-datatable>
</card>
