<card>
	<div class="row">
		<div class="col-sm-4  mb-3">
			<upload label="Organisation Logo" class="pull-left" (fileChanged)="imageChange('logo',$event)"></upload>
		</div>
		<div class="col-sm-4">
			<app-image *ngIf="organisation?.logoUrl?.url" [height]="200" [src]="organisation?.logoUrl?.url" [id]="organisation?.logoUrl?.url" (fileChanged)="delete($event)"></app-image>
		</div>
		<div class="col-sm-4 text-right">
			<upload label="Organisation Images" [multiple]="true" class="pull-left" (fileChanged)="imageChange('images',$event)"></upload>
		</div>
	</div>
</card>
<card>
	<div class="row" *ngIf="organisation.imageUrls.length > 0">
		<p class=" col-sm-12 header-text text-center"> Images List </p>
		<div class="col-sm-4 mb-3" *ngFor="let img of organisation.imageUrls">
			<app-image *ngIf="img?.url" [src]="img?.url" [id]="img?.url" [height]="200" (fileChanged)="delete($event)"></app-image>
		</div>
	</div>
	<p class="header-text text-center" *ngIf="organisation.imageUrls.length === 0" >No images until now.</p>
</card>