<card title="Role Add">
	<div [id]="formId">
		<div class="row">
			<div class="col-sm-5">
				<textbox label="Role Name" [required]="true" [(value)]="role.name" (keydown.enter)="onKeyUp($event)"></textbox>
			</div>
			<div class="col-sm-5">
				<textbox label="Place" [disabled]="true" [(value)]="place" (keydown.enter)="onKeyUp($event)"></textbox>
			</div>
			<div class="col-sm-2 d-flex align-items-center">
				<checkbox [(value)]="role.isActive" label="IsActive"></checkbox>
			</div>
		</div>
	</div>
</card>
<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-info float-right" type="button" (click)="save()">Save</button>
    </div>
</div>