<card title='{{isEdit?" Edit ":"Add "}} Organisation'>
    <div class="row" [id]="formId">
        <div class="card card-transparent w-100">
            <tabset class="bg-white p-0" justified="true">
                <tab>
                    <ng-template tabHeading>
                        <em class="fas fa-align-center"></em> General
                    </ng-template>
                    <div>
                      <app-organisation-general [(organisation)]="organisation" ></app-organisation-general>
                    </div>
                </tab> 
                <tab>
                    <ng-template tabHeading>
                        <em class="far fa-images fa-fw"></em> Images
                    </ng-template>
                    <div>
                      <app-organisation-images [(organisation)]="organisation" (valueChange)="upload($event)"></app-organisation-images>
                    </div>
                </tab>
                <tab>
                    <ng-template tabHeading>
                        <em class="far fa-images fa-fw"></em> Places
                    </ng-template>
                    <div>
                      <app-organisation-places [(placeList)]="organisation.places"></app-organisation-places>
                    </div>
                </tab>
                <tab>
                    <ng-template tabHeading>
                        <em class="far fa-images fa-fw"></em> Users
                    </ng-template>
                    <div>
                      <app-organisation-users [(organisationId)]="organisation.id"></app-organisation-users>
                    </div>
                </tab>
                <tab>
                    <ng-template tabHeading>
                        <em class="far fa-money-bill-alt fa-fw"></em> Transactions 
                    </ng-template>
                    <div>
                      <app-organisation-transactions [(organisationId)]="organisation.id"></app-organisation-transactions>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</card>
<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-outline-secondary float-left" (click)="back()">Back</button>
        <button class="btn btn-info float-right" type="button" (click)="save()">Save</button>
    </div>
</div>
