<card title='{{isEdit?" Edit ":"Add "}} Table'>
	<div [id]="formId">
		<div class="row">
			<div class="col-sm-6">
				<textbox label="Table Name" [required]="true" [(value)]="table.name" (keydown.enter)="onKeyUp($event)"></textbox>
			</div>
			<div class="col-sm-6">
				<dropdown [editable]="true" label="Place List"  [emptyItemLabel]="!isEdit ? 'Select a Place': ''"  [required]='true' [(value)]="table.placeId" [(options)]="placeList"></dropdown>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<textbox label="Table Number"  type="number" [required]="true" [(value)]="table.number" (keydown.enter)="onKeyUp($event)" (change)="getTableGroupsByPlace()"></textbox>
			</div>
			<div class="col-sm-6">
				<dropdown [editable]="true" label="Table Group List"  [emptyItemLabel]="!isEdit ? 'Select a Table Group': ''" [(value)]="table.tableGroupId" [options]="tableGroupList"></dropdown>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<dropdown label="Table Type" [(value)]="table.type" [(options)]="typelist"></dropdown>
			</div>
			<div class="col-sm-2 d-flex align-items-center">
				<checkbox [(value)]="table.isActive" label="IsActive"></checkbox>
			</div>
			<div class="col-sm-4" *ngIf="table.guId">
				<ngx-qrcode #pRef [qrc-element-type]="elementType" [qrc-value]="table.guId"></ngx-qrcode>
				<a [href]="href" (click)="getUrl()" download> Download </a>
			</div>
		</div>
		<hr/>
		<button class="btn btn-outline-secondary float-left" (click)="back()">Back</button>
		<div>
			<button class="btn btn-info float-right" type="button" (click)="save()">Save</button>
		</div>
	</div>
</card>