<div class="input form-group {{!!label ? 'has-label':''}}" [attr.isvalid]="isValid">
  <label *ngIf="label">{{label || ""}}{{required ? '*' : ''}}</label>
  <div class="input-group" [ngClass]="{'focused':focused, 'has-suffix':true}">

    <input *ngIf="range" class="form-control" [minDate]="minDate" [maxDate]="maxDate" [placeholder]="_placeholder" [name]="label"
      [disabled]="disabled" [required]="required" [(ngModel)]="_value" (focus)="onFocus()" (blur)="onBlur()" bsDaterangepicker
      [bsConfig]="notsimplebsConfig">

    <input *ngIf="!range" class="form-control" [minDate]="minDate" [maxDate]="maxDate" [placeholder]="_placeholder" [name]="label"
      [disabled]="disabled" [required]="required" [(ngModel)]="_value" (focus)="onFocus()" (blur)="onBlur()" bsDatepicker [bsConfig]="simplebsConfig">

    <!-- suffix -->
    <div *ngIf="!range" class="input-group-append">
      <div class="input-group-text">
        <i class="fa fa-calendar-alt"></i>
      </div>
    </div>

    <dropdown appended="right" *ngIf="range" [value]="shortcutValue" (changed)="shortcutChanged($event)" [options]="shourtcutsDropdownSource"></dropdown>

  </div>
  <span class="help-block text-danger">
    <span *ngFor="let e of controlErrors">{{e}}
      <br/>
    </span>
  </span>
</div>
<!-- 
#dpYMD="bsDatepicker"
        bsDatepicker -->
