<card title="Notifications Role ">
	<div actions>
		<action icon="fa fa-plus" href="/notification/user-role/add" text="Add Notification to Role" alt="Add Notification to Role"></action>		
	</div>
	<app-datatable *ngIf="notList.length > 0" [(columns)]="columns" [(data)]="notList" [fakeLoadingFor]="2000" (tableChange)="data = $event" [emptyData]="data.length === 0" emptyDataText="No Notification until now">
		<tbody>
			<tr *ngFor="let not of data; let i=index">
				<td> {{not.id}} </td>
				<td>{{not.notification.title}}</td>
				<td>{{not.role.name}}</td>
				<td>{{not.role?.place?.name}}</td>
				<td class="text-right">
	                <checkbox [(value)]="not.isActive" class="pull-left" label="IsActive" (change)="save(not.id)"></checkbox>
				</td>
			</tr>
		</tbody>
	</app-datatable>
</card>