li {
  cursor: pointer;
}

.btn-transparent {
  background-color: #fff;
  color: #2d2d2d;
  border: 1px solid #e3e3e3;
}

.show>.btn.dropdown-toggle,
.show>.btn.dropdown-toggle:focus,
.show>.btn.dropdown-toggle:hover {
  background-color: #fff;
  color: #2d2d2d;
  border: 1px solid #979797;
}

.btn-group .btn-round {
  /*border-radius: 30px;*/
}

.dropdown {
  display: inline-grid;
  width: 100%;
  margin: 0px;
  margin-left: -1px;
}

.dropdown .btn {
  margin: 0px !important;
  padding-top: 7px;
  padding-bottom: 7px;
}

.dropdown-menu {
  min-width: 90%;
  left: 5% !important;
  max-height: 250px;
  overflow-y: scroll;
}

.dropdown-menu:before {
  left: 48%;
}

div[isValid='false'][pristine='false'] .select {
  border: 1px solid #f96332;
}

.right-appended {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.disabled{
  pointer-events: none;
}