<div [title]="_label" attr.isvalid="{{isValid}}" attr.pristine="{{isPristine}}" class="btn-group form-group dropdown" dropdown (click)="isPristine=false">
  <label *ngIf="label">{{_label}}</label>
  <button *ngIf="true!==editable" id="button-{{id}}" [disabled]="disabled" dropdownToggle type="button"
    class="select btn btn-transparent 
   btn-round dropdown-toggle {{disabled?'disabled':''}} {{appended=='left'?'left-appended':''}} {{appended=='right'?'right-appended':''}}" [attr.aria-controls]="id">
    <i *ngIf="icon" class="{{icon}}"></i>
    {{valToDisplay}}
  </button>

  <textbox *ngIf="true===editable" id="button-{{id}}" [(value)]="valToDisplay" (input)="onFilterChange($event.target.value)" [required]="required" dropdownToggle></textbox>
  <div class="scrollable">
    <ul [id]="id" *dropdownMenu class="dropdown-menu" role="menu" [attr.aria-labelledby]="'button-'+id">

      <li role="menuitem" *ngIf="addNewClick.observers.length > 0" (mouseover)="itemMouseOver.emit(option)"
        (mouseleave)="itemMouseLeave.emit(option)">
        <a class="dropdown-item" (click)="addNewClick.emit({})">Add New</a>
      </li>

      <li role="menuitem" *ngFor="let option of data" [id]="option.key" (mouseover)="itemMouseOver.emit(option)"
        (mouseleave)="itemMouseLeave.emit(option)">
        <a class="dropdown-item" *ngIf="!divider" (click)="selectOption(option)" [innerHtml]="optionAsHtml(option)"></a>
      </li>

    </ul>
  </div>
</div>