<card>
	<tabset class="bg-white p-0" justified="true" >
		<tab>
			<ng-template tabHeading>
				<em class="fas fa-align-center" ></em> Tables
			</ng-template>
			<div>
				<tables-list [placeId]="place.id" [(tables)]="place.tables"></tables-list>
			</div>
		</tab> 
		<tab>
			<ng-template tabHeading>
				<em class="far fa-images fa-fw" ></em> Table Groups
			</ng-template>
			<div>
				<table-groupes-list [placeId]="place.id" [(tablegroups)]="place.tableGroups"></table-groupes-list>
			</div>
		</tab>
	</tabset>
</card>
