<card title="Sections">
	<div actions>
		<button class="btn btn-info float-right" (click)="addSection()"><i class="fa fa-plus"></i> Add Section</button>
	</div>
	<app-datatable *ngIf="sectionList.length > 0" [(columns)]="columns" [(data)]="sectionList" [fakeLoadingFor]="2000" (tableChange)="data = $event" [emptyData]="data.length === 0" emptyDataText="No Menu Item until now">
		<tbody>
			<tr *ngFor="let section of data; let i=index">
				<td> {{section.id}} </td>
				<td>
					<a (click)="addSection(section.id)">
						{{section.name}}
					</a>
				</td>
				<td class="text-right">
					<a class="mr-1 mb-1 btn btn-outline-info" href="#" (click)="addSection(section.id)" >Edit</a>
	                <checkbox [(value)]="section.isActive" class="pull-left" label="IsActive" (change)="save(section)" ></checkbox>
				</td>
			</tr>
		</tbody>
	</app-datatable>
</card>
