<card title="Table Groups">
	<div actions>
		<action icon="fa fa-plus" [href]="placeId ? '/tables/table-group/add/' + placeId : '/tables/table-group/add/'" text="Add Table Group" alt="Add Table Group"></action>
	</div>
	<app-datatable *ngIf="(tableGroupList && tableGroupList.length > 0) || (tablegroups && tablegroups.length > 0)" [(columns)]="columns" [(data)]="placeId ? tablegroups : tableGroupList" [fakeLoadingFor]="2000" (tableChange)="data = $event" [emptyData]="data.length === 0" emptyDataText="No Table Groups until now">
		<tbody>
			<tr *ngFor="let table of data; let i=index">
				<td> {{table.id}} </td>
				<td>
					<a [routerLink]="[placeId ? '/tables/table-group/edit/' + table.id + '/' + placeId : '/tables/table-group/edit/' + table.id]">
						{{table?.name}}
					</a>
				</td>
				<td>{{table?.place?.name}}</td>
				<td class="text-right">
					<a class="mr-1 mb-1 btn btn-outline-info" [routerLink]="[placeId ? '/tables/table-group/edit/' + table.id + '/' + placeId : '/tables/table-group/edit/' + table.id]">Edit</a>
	                <checkbox [(value)]="table.isActive" class="pull-left" label="IsActive" (change)="save(table)" ></checkbox>
				</td>
			</tr>
		</tbody>
	</app-datatable>
</card>