<card title="Ingredients">
	<card>
		<div class="row">
			<div class="col-sm-5">
				<label>Place Name</label>
				<ngx-select  [items]="placeList" [(ngModel)]="ingFilter.placeId" placeholder="No Place selected"></ngx-select>
			</div>
			<div class="col-sm-5">
				<textbox label="Ingredient Name" [(value)]="ingFilter.ingName" (keydown.enter)="onKeyUp($event)"></textbox>
			</div>
			<div class="col-sm-2 d-flex align-items-center justify-content-end">
				<button class="btn btn-info float-right mt-2" type="button" (click)="filter()">Filter</button>
				<button class="btn btn-info float-right mt-2 ml-2" type="button" (click)="clear()">Clear</button>
			</div>
		</div>
	</card>
	<div actions>
		<action icon="fa fa-plus" href="/ingredient/add" text="Add Ingredient" alt="Add Ingredient"></action>
	</div>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th *ngFor="let col of columns" class="text-uppercase" [ngClass]="{'text-center': col.name == 'settings' }" >{{col.name}}</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let ingredient of ingredientList; let i=index">
				<td> {{ingredient.id}} </td>
				<td>
					<a [routerLink]="['/ingredient/edit/' + ingredient.id]">
						{{ingredient.name}}
					</a>
				</td>
				<td>{{ingredient?.place?.name}}</td>
				<td class="text-right">
					<a class="mr-1 mb-1 btn btn-outline-info" [routerLink]="['/ingredient/edit/' + ingredient.id]">Edit</a>
					<checkbox [(value)]="ingredient.isActive" class="pull-left" label="IsActive" (change)="save(ingredient)" ></checkbox>
				</td>
			</tr>
		</tbody>
	</table>
	<br>
	<div class="text-right">
		<pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="ingFilter.page" [totalItems]="length" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
		</pagination>
	</div>
</card>