<card title='{{isEdit?" Edit ":"Add "}} Property'>
	<div [id]="formId">
		<div class="row">
			<div class="col-sm-6">
				<textbox label="Property Text" [required]="true" [(value)]="property.text" (keydown.enter)="onKeyUp($event)"></textbox>
			</div>
			<div class="col-sm-6">
				<textbox label="Property Option" disabled [(value)]="option"></textbox>
				<!-- <dropdown [editable]="true" label="Options List"  [emptyItemLabel]="!isEdit ? 'Select a Option': ''"  [required]='true' [(value)]="option" [(options)]="optionList"></dropdown> -->
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<textbox label="Property Price"  type="number" [required]="true" [(value)]="property.price" (keydown.enter)="onKeyUp($event)"></textbox>
			</div>
			<div class="col-sm-6 d-flex align-items-center">
				<checkbox class="mr-2" [(value)]="property.state" label="State"></checkbox>
				<checkbox class="mr-2" [(value)]="property.isActive" label="IsActive"></checkbox>
			</div>
		</div>
		<hr/>
		<button class="btn btn-outline-secondary float-left" (click)="back()">Back</button>
		<div>
			<button class="btn btn-info float-right" type="button" (click)="save()">Save</button>
		</div>
	</div>
</card>