<card title="Privacy">
	<div actions>
		<action icon="fa fa-plus" href="/settings/privacy/add" text="Add Privacy" alt="Add Privacy"></action>
	</div>
	<app-datatable *ngIf="settingsList.length > 0" [(columns)]="columns" [(data)]="settingsList" [fakeLoadingFor]="2000" (tableChange)="data = $event" [emptyData]="data.length === 0" emptyDataText="No Privacy until now">
		<tbody>
			<tr *ngFor="let privacy of data; let i=index">
				<td> {{privacy.id}} </td>
				<td [innerHtml]="privacy.policy" >
				</td>
				<td class="text-right">
					<a class="mr-1 mb-1 btn btn-outline-info" [routerLink]="['/settings/privacy/edit/' + privacy.id]">Edit</a>
	                <checkbox disabled [(value)]="privacy.isActive" class="pull-left" label="IsActive" (change)="save(privacy)" ></checkbox>
				</td> 
			</tr>
		</tbody>
	</app-datatable>
</card>