<card>
	<div class="row">
		<div class="col-sm-4">
			<textbox type="number" label="Place Phone" [required]="false" [(value)]="place.contact.phoneNumber" (keydown.enter)="onKeyUp($event)"></textbox>
		</div>
		<div class="col-sm-4">
			<textbox label="Place Address Display Name" [required]="false" [(value)]="place.addressDisplayName" (keydown.enter)="onKeyUp($event)"></textbox>
		</div>
		<div class="col-sm-4">
			<textbox label="Place Website" [(value)]="place.contact.websiteUrl" (keydown.enter)="onKeyUp($event)">
			</textbox>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-sm-12" *ngIf="lat && lng">
			<agm-map class="gmap" [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="myMarker($event.coords.lat, $event.coords.lng)">
				<agm-marker [latitude]="place.addressLocation.latitude" [longitude]="place.addressLocation.longitude" [markerDraggable]="true" (markerClick)="myMarker($event.latitude, $event.longitude)" >
				</agm-marker>
			</agm-map>
		</div>
	</div>
</card>