<card>
	<div [id]="formId">
		<div class="row">
			<div class="col-sm-6">
				<textbox label="Menu Name" [required]="true" [(value)]="menu.name" (keydown.enter)="onKeyUp($event)">
				</textbox>
			</div>
			<div class="col-sm-6">
				<dropdown [disabled]="true"  [editable]="true" label="Place List"  [emptyItemLabel]="!isEdit ? 'Select a Place': ''"  [required]='true' [(value)]="menu.placeId" [(options)]="placeList"></dropdown>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<upload label="Menu Image" class="pull-left" (fileChanged)="file = $event"></upload>
			</div>
			<div class="col-sm-6 d-flex align-items-center">
				<checkbox [(value)]="menu.isActive" label="IsActive"></checkbox>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3 mt-3">
				<app-image *ngIf="menu?.imageUrls.length > 0" [src]="menu.imageUrls[0]?.url" [id]="menu.imageUrls[0]?.url" (fileChanged)="delete($event)"></app-image>
			</div>
		</div>
		<hr/>
		<button class="btn btn-outline-secondary float-left" (click)="back()">Back</button>
		<div>
			<button class="btn btn-info float-right" type="button" (click)="save()">Save</button>
		</div>
	</div>
</card>