<div class="modal-header">
  <h5 class="modal-title" [translate]>{{title}}&nbsp;</h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="confirmAction(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng-template #template></ng-template>
</div>
<div class="modal-footer"> 
  <!-- <button type="button" class="btn btn-success" (click)="confirmAction(true)">Yes</button>
  <button type="button" class="btn btn-danger" (click)="confirmAction(false)">No</button> -->
</div>
