<card title="Menu Item List">
	<div actions>
		<action icon="fa fa-plus" [href]="'/menu/menu-item/add/'+menu.id" text="Add Menu Item" alt="Add Menu"></action>
	</div>
	<app-datatable *ngIf="menuItemList.length > 0" [(columns)]="columns" [(data)]="menuItemList" [fakeLoadingFor]="2000" (tableChange)="data = $event" [emptyData]="data.length === 0" emptyDataText="No Menu Item until now">
		<tbody>
			<tr *ngFor="let menuItem of data; let i=index">
				<td> {{menuItem.id}} </td>
				<td><img *ngIf="menuItem?.imageUrl" [src]="menuItem?.imageUrl" class="img-fluid circle menu_img"></td>
				<td>
					<a (click)="addMenuItem(menuItem.id)">
						{{menuItem.name}}
					</a>
				</td>
				<td class="text-right">
					<a class="mr-1 mb-1 btn btn-outline-info" [routerLink]="'/menu/menu-item/edit/'+menuItem.id">Edit</a>
	                <checkbox [(value)]="menuItem.isActive" class="pull-left" label="IsActive" (change)="save(menuItem)" ></checkbox>
				</td>
			</tr>
		</tbody>
	</app-datatable>
</card>