<card title='{{isEdit?" Edit ":"Add "}} Ingredient'>
	<div [id]="formId">
		<div class="row">
			<div class="col-sm-4">
				<textbox label="Ingredient Name" [required]="true" [(value)]="ingredient.name" (keydown.enter)="onKeyUp($event)"></textbox>
			</div>
			<div class="col-sm-4">
				<textbox label="Ingredient Price" type="number" [required]="true" [(value)]="ingredient.price" (keydown.enter)="onKeyUp($event)"></textbox>
			</div>
			<div class="col-sm-4">
				<label class="mt">Places</label>
				<ngx-select 
				[disabled]="isEdit"
				[(items)]="placeList" 
				[(ngModel)]="ingredient.placeId"
				placeholder="No Ingredients selected">
				</ngx-select>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5">
				<dropdown label="Ingredient Type" [(value)]="ingredient.type" [(options)]="typelist"></dropdown>
			</div>
			<div class="col-sm-5">
				<textbox label="Ingredient Calories" type="number" [(value)]="ingredient.calories" (keydown.enter)="onKeyUp($event)"></textbox>
			</div>
			<div class="col-sm-2 d-flex align-items-center">
				<checkbox [(value)]="ingredient.isActive" label="IsActive"></checkbox>
			</div>
		</div>
		<hr/>
		<button class="btn btn-outline-secondary float-left" (click)="back()">Back</button>
		<div>
			<button class="btn btn-info float-right" type="button" (click)="save()">Save</button>
		</div>
	</div>
</card>