<card title="Additional Info">
	<div actions>
		<action icon="fa fa-plus" href="/additional-info/add" text="Add Additional Info" alt="Add Additional Info"></action>
	</div>
	<app-datatable *ngIf="additionalList.length > 0" [(columns)]="columns" [(data)]="additionalList" [fakeLoadingFor]="2000" (tableChange)="data = $event" [emptyData]="data.length === 0" emptyDataText="No Additional Info until now">
		<tbody>
			<tr *ngFor="let additional of data; let i=index">
				<td> {{additional.id}} </td>
				<td><img *ngIf="additional?.logoUrl?.url" [src]="additional?.logoUrl?.url" class="img-fluid circle menu_img"></td>
				<td>
					<a [routerLink]="['/additional-info/edit/' + additional.id]">
						{{additional.name}}
					</a>
				</td>
				<td class="text-right">
					<a class="mr-1 mb-1 btn btn-outline-info" [routerLink]="['/additional-info/edit/' + additional.id]">Edit</a>
	                <checkbox [(value)]="additional.isActive" class="pull-left" label="IsActive" (change)="save(additional)" ></checkbox>
				</td>
			</tr>
		</tbody>
	</app-datatable>
</card>