<card title="About Us">
	<div actions>
		<action icon="fa fa-plus" href="/settings/about-us/add" text="Add About Us" alt="Add About Us"></action>
	</div>
	<app-datatable *ngIf="settingsList.length > 0" [(columns)]="columns" [(data)]="settingsList" [fakeLoadingFor]="2000" (tableChange)="data = $event" [emptyData]="data.length === 0" emptyDataText="No About Us until now">
		<tbody>
			<tr *ngFor="let about of data; let i=index">
				<td> {{about.id}} </td>
				<td [innerHtml]="about.aboutUs" >
				</td>
				<td class="text-right">
					<a class="mr-1 mb-1 btn btn-outline-info" [routerLink]="['/settings/about-us/edit/' + about.id]">Edit</a>
	                <checkbox disabled [(value)]="about.isActive" class="pull-left" label="IsActive" (change)="save(about)" ></checkbox>
				</td> 
			</tr>
		</tbody>
	</app-datatable>
</card>