<span class="btn btn-info btn-file" for="my-file-selector">
    {{label}}
    <input #fileInput [disabled]="disabled" [multiple]="multiple" [required]="required" id="my-file-selector" type="file" (change)="fileChangeEvent($event)">
</span>
<span *ngIf="fileUrl" class='label label-info'>{{fileUrl}} &nbsp;&nbsp;&nbsp;
    <span class="fa fa-times text-danger" (click)="removeFile()"></span>
</span>