<div class="image-area">
  <img [src]="src" [ngStyle]="{'min-height.px': height, 'max-height.px': height}">
  <a class="remove-image" href="#" (click)="delete(id)" style="display: inline;">&#215;</a>
</div>