<div class="input form-group " [attr.isvalid]="isValid">
  <label *ngIf="label">{{label || ""}}{{required ? '*' : ''}}</label>
  <textarea class="form-control" [placeholder]="placeholder" [rows]="rows" [disabled]="disabled" [(ngModel)]="value"></textarea>
  <span class="help-block text-danger">
    <span *ngFor="let e of controlErrors">{{e}}
      <br />
    </span>
  </span>
</div>
