<div *ngFor="let alert of alerts;let i=index" [id]="alert.id" class="animated bounceIn fast n-container {{position}} col-lg-4 col-12 col-sm-7 col-md-6 alert alert-{{alert.type}} alert-with-icon"
  role="alert" [ngStyle]="heightPosition(i)">
  <button type="button" aria-hidden="true" class="close btn-dismiss" (click)="closeAlert(alert)" data-notify="dismiss">
    <i class="fa fa-times"></i>
  </button>
  <div class="row">
    <div class="col-sm-1">
      <div class="alert-icon">
        <i data-notify="icon" class="fa {{iconClass(alert)}}"></i>
      </div>
    </div>
    <div class="col-sm-11">
      <span data-notify="title"></span>
      <span data-notify="message" [innerHtml]="alert.message" [translate]></span>
    </div>
  </div>
</div>
