.n-container {
  display: inline-block;
  margin: 0px auto;
  position: fixed;
  z-index: 99999;
  border-radius: 5px;
  padding-left: 15px;
}

.n-bottom-left {
  left: 20px;
}

.n-bottom-right {
  right: 20px;
}

.n-top-center {
  top: 20px;
  left: 0;
  right: 0;
}

.btn-dismiss {
  z-index: 9999 !important;
}
