<card title="Organisation Transactions">
	<app-datatable *ngIf="transactionList.length > 0" [(columns)]="columns" [(data)]="transactionList" [fakeLoadingFor]="2000" (tableChange)="data = $event" [emptyData]="data.length === 0" emptyDataText="No Users until now">
		<tbody>
			<tr *ngFor="let transaction of data; let i=index">
				<td> {{transaction.id}} </td>
				<td>{{transaction.userId}}</td>
				<td>{{transaction.orderId}}</td>
				<td>{{transaction.amount}}</td>
				<td>{{transaction.date | date: 'dd/MM/yyyy hh:mm a'}}</td>
			</tr>
		</tbody>
	</app-datatable>
</card>
