<card >
	<div class="row">
		<div class="col-sm-6">
			<textbox label="Place openHour" type="time" [required]="true" [(value)]="place.openHour" (keydown.enter)="onKeyUp($event)">
			</textbox>
		</div>
		<div class="col-sm-6">
			<textbox label="Place closeHour" type="time" [required]="true" [(value)]="place.closeHour" (keydown.enter)="onKeyUp($event)">
			</textbox>
        </div>
    </div>
    <div class="row">
		<div class="col-sm-6">
			<textbox label="WifiName" [(value)]="place.wifi.wifiName" (keydown.enter)="onKeyUp($event)"></textbox>
		</div>
		<div class="col-sm-6">
			<textbox label="Wifi Password" [(value)]="place.wifi.wifiPassword" (keydown.enter)="onKeyUp($event)"></textbox>
		</div>
	</div>
	<div class="row">
		<div *ngIf="place.isParent" class="col-sm-6">
			<label  class="mt">Places</label>
			<ngx-select 
			[multiple]="true" 
			[(items)]="placeList" 
			[(ngModel)]="place.placeIds"
			placeholder="No Place selected">
		</ngx-select>
		</div>
		<div class="col-sm-6 d-flex align-items-center">
			<checkbox [(value)]="place.isActive" class="pull-left" label="IsActive"></checkbox>
			<checkbox [(value)]="place.isParent" class="pull-left" label="IsParent"></checkbox>
			<checkbox [(value)]="place.isNew" class="pull-left" label="IsNew"></checkbox>
		</div>
	</div>
</card>