<card>
	<tabset class="bg-white p-0" justified="true" >
		<tab>
			<ng-template tabHeading>
				<em class="fas fa-align-center" ></em> Users
			</ng-template>
			<div>
				<card title="Users">
					<div actions >
						<action icon="fa fa-plus" [href]="'/place/user/add/'+ placeId + '/' + place.organisationId " text="Add User" alt="Add User"></action>
					</div>
					<app-datatable *ngIf="userList.length > 0" [(columns)]="columns" [(data)]="userList" [fakeLoadingFor]="2000" (tableChange)="data = $event" [emptyData]="data.length === 0" emptyDataText="No Users until now">
						<tbody>
							<tr *ngFor="let user of data; let i=index">
								<td> {{user.id}} </td>
								<td>{{user.userLogin}}</td>
								<td> {{user.role.name}} </td>
								<td class="text-right">
									<checkbox [(value)]="user.isActive" class="pull-left" label="IsActive" (change)="save(user)" ></checkbox>
								</td>
							</tr>
						</tbody>
					</app-datatable>
				</card>
			</div>
		</tab> 
		<tab>
			<ng-template tabHeading>
				<em class="far fa-images fa-fw" ></em> User Roles
			</ng-template>
			<div>
				<card title="User Roles">
					<div actions >
						<action icon="fa fa-plus" [href]="'/notification/role/add/'+ placeId" text="Add User Role" alt="Add User Role"></action>
					</div>
					<app-datatable *ngIf="roleList.length > 0" [(columns)]="columnsForRole" [(data)]="roleList" [fakeLoadingFor]="2000" (tableChange)="roledata = $event" [emptyData]="data.length === 0" emptyDataText="No Roles until now">
						<tbody>
							<tr *ngFor="let role of roledata; let i=index">
								<td> {{role.id}} </td>
								<td>{{role.name}}</td>
								<td class="text-right">
									<a class="mr-1 mb-1 btn btn-outline-info" [routerLink]="['/notification/role/edit/' + role.id]">Edit</a>
									<checkbox [(value)]="role.isActive" class="pull-left" label="IsActive" (change)="save(role)" ></checkbox>
								</td>
							</tr>
						</tbody>
					</app-datatable>
				</card>
			</div>
		</tab>
	</tabset>
</card>