<card title='Add Organisation User' >
	<div [id]="formId" >
		<div class="row">	
			<div class="col-sm-6">
				<textbox label="User First name" [required]="true" [(value)]="user.firstName" (keydown.enter)="onKeyUp($event)">
				</textbox>
			</div>			
			<div class="col-sm-6">
				<textbox label="User Last Name" [required]="true" [(value)]="user.lastName" (keydown.enter)="onKeyUp($event)">
				</textbox>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<textbox label="User Email" type="email" [required]="true" [(value)]="user.login" (keydown.enter)="onKeyUp($event)">
				</textbox>
			</div>			
			<div class="col-sm-6">
				<textbox label="User Password" type="password" [required]="true" [(value)]="user.password" (keydown.enter)="onKeyUp($event)">
				</textbox>
			</div>			
		</div>
		<div class="row">
			<div class="col-sm-5">
				<multipldropdown  label="Select Roles" selectAllItemLabel='Select All Roles' [(value)]="user.roleIds" (changed)="getRoles($event)" [options]="(roleList)"></multipldropdown>
			</div>
			<div class="col-sm-5">
				<multipldropdown label="Select Places" selectAllItemLabel='Select All Places' [(value)]="user.placeIds"  (changed)="getPlaces($event)" [options]="(placeList)"></multipldropdown>
			</div>
			<div class="col-sm-2 d-flex align-items-center">
				<checkbox [(value)]="user.isActive" label="IsActive"></checkbox>
			</div>
		</div>
		<hr/>
		<button class="btn btn-outline-secondary float-left" (click)="back()">Back</button>
		<div>
			<button class="btn btn-info float-right" type="button" (click)="save()">Save</button>
		</div>
	</div>
</card>
