<card title='{{isEdit?" Edit ":"Add "}} Discount'>
	<div [id]="formId">
		<div class="row">
			<div class="col-sm-6">
				<label>Discount Date Range</label>
				<input class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [bsConfig]="bsConfig" (bsValueChange)="getdate($event)" [value]="date">
			</div>
			<div class="col-sm-6">
				<textbox label="Percent" type="number" [required]="true" [(value)]="discount.percent" (keydown.enter)="onKeyUp($event)"></textbox>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5">
				<label *ngIf="!discount?.user?.id" class="mt">Clients List</label>
				<ngx-select *ngIf="!discount?.user?.id"
				[multiple]="true" 
				[(items)]="clientList" 
				[(ngModel)]="discount.userIds"
				placeholder="No Clients selected">
			</ngx-select>
				<textbox *ngIf="!!discount?.user?.id" label="Client" [disabled]="true" [(value)]="discount.user.username" (keydown.enter)="onKeyUp($event)"></textbox>
			</div>
			<div class="col-sm-5">
				<textbox label="Place" [disabled]="true" [(value)]="place" (keydown.enter)="onKeyUp($event)"></textbox>
			</div>
			<div class="col-sm-2 d-flex align-items-center">
				<checkbox [(value)]="discount.isActive" label="IsActive"></checkbox>
			</div>
		</div>	
		<hr/>
		<button class="btn btn-outline-secondary float-left" (click)="back()">Back</button>
		<div>
			<button class="btn btn-info float-right" type="button" (click)="save()">Save</button>
		</div>
	</div>
</card>