<card>
	<div class="row mb-3">
		<div class="col-sm-12 mb-1">
			<upload label="Place Logo" class="pull-left " (fileChanged)="imageChange('logo',$event)"></upload>
		</div>			
		<div class="col-sm-12 mb-1">
			<upload label="Place Cover" class="pull-left" (fileChanged)="imageChange('cover',$event)"></upload>
		</div>			
		<div class="col-sm-12 mb-1">
			<upload label="Place Images" class="pull-left" (fileChanged)="imageChange('images',$event)" [multiple]="true" ></upload>
		</div>		
	</div>
	<div class="row">
		<div class="col-sm-6 text-center">
			<div *ngIf="place.logoUrl && place.logoUrl.url">
				<p class="header-text text-center" >Logo</p>
				<!-- <img [(src)]="place.logoUrl.url" height="200"> -->
				<div class="row">
					<div class="col-sm-6 mt-3" *ngIf="place?.logoUrl?.url">
						<app-image [src]="place?.logoUrl?.url" [id]="place?.logoUrl?.url" (fileChanged)="delete($event)"></app-image>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 text-center">
			<div *ngIf="place.coverUrl && place.coverUrl.url">
				<p class="header-text text-center">Cover</p>
				<div class="row">
					<div class="col-sm-12 mt-3" *ngIf="place?.coverUrl?.url">
						<app-image  [src]="place?.coverUrl?.url" [id]="place.coverUrl?.url" (fileChanged)="delete($event)"></app-image>
					</div>
				</div>
			</div>
		</div>
	</div>
</card>
<card>
	<div class="row" *ngIf="place.imageUrls.length > 0">
		<p class="col-sm-12 header-text text-center"> Images List </p>
		<div class="col-sm-3 mt-3" *ngFor="let img of place.imageUrls">
			<app-image *ngIf="img?.url" [src]="img?.url" [id]="img?.url" [height]="200" (fileChanged)="delete($event)"></app-image>
		</div>
	</div>
	<p class="header-text text-center" *ngIf="place.imageUrls.length === 0" >No images until now.</p>
</card>
