<card title="Intros">
	<div actions>
		<action icon="fa fa-plus" href="/intro/add" text="Add Intro" alt="Add Intro"></action>
	</div>
	<app-datatable *ngIf="introList.length > 0" [(columns)]="columns" [(data)]="introList" [fakeLoadingFor]="2000" (tableChange)="data = $event" [emptyData]="data.length === 0" emptyDataText="No Options until now">
		<tbody>
			<tr *ngFor="let intro of data; let i=index">
				<td> {{intro.id}} </td>
				<td><img *ngIf="intro?.imageUrl" [src]="intro?.imageUrl" class="img-fluid circle menu_img"></td>
				<td>
					<a [routerLink]="['/intro/edit/' + intro.id]">
						{{intro.title}}
					</a>
				</td>
				<td class="text-right">
					<a class="mr-1 mb-1 btn btn-outline-info" [routerLink]="['/intro/edit/' + intro.id]">Edit</a>
	                <checkbox disabled [(value)]="intro.isActive" class="pull-left" label="IsActive" (change)="save(intro)" ></checkbox>
				</td> 
			</tr>
		</tbody>
	</app-datatable>
</card>