<card >
	<div class="row">
		<div class="col-sm-6">
			<textbox label="Organisation Name" [required]="true" [(value)]="organisation.name" (keydown.enter)="onKeyUp($event)">
			</textbox>
		</div>
		<div class="col-sm-6">
			<textbox label="Organisation TIN" [required]="true" [(value)]="organisation.tin" (keydown.enter)="onKeyUp($event)">
			</textbox>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<textbox type="number" label="Organisation Phone" [required]="true" [(value)]="organisation.contact.phoneNumber" (keydown.enter)="onKeyUp($event)"></textbox>
		</div>
		<div class="col-sm-6">
			<textbox label="Organisation Website" [(value)]="organisation.contact.websiteUrl" (keydown.enter)="onKeyUp($event)">
			</textbox>
		</div>
	</div>	
	<div class="row">
		<div class="col-sm-4">
			<textbox type="number" label="Balance" [required]="true" [(value)]="organisation.balance" (keydown.enter)="onKeyUp($event)"></textbox>
		</div>
		<div class="col-sm-4">
			<textbox label="Organisation Bank" [required]="true" [(value)]="organisation.bank" (keydown.enter)="onKeyUp($event)"></textbox>
		</div>
		<div class="col-sm-4">
			<textbox label="Organisation BankAccount" [(value)]="organisation.bankAccount" (keydown.enter)="onKeyUp($event)">
			</textbox>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<text-area label="You can add some Description here" [required]="true" [(value)]="organisation.description"></text-area>
		</div>
	</div>
</card>
