<card >
	<div >
		<div class="row">
			<div class="col-sm-4">
				<textbox label="Place Name" [required]="true" [(value)]="place.name" (keydown.enter)="onKeyUp($event)">
				</textbox>
			</div>
			<div class="col-sm-4">
				<!-- <dropdown [editable]="true" [emptyItemLabel]="!isEdit ? 'Select a Organisation': ''" label="Organisation List" [required]='true' [(value)]="place.organisationId" [(options)]="organisationList"></dropdown> -->
				<label class="mt">Organisation</label>
				<ngx-select 
				[multiple]="false" 
				[(items)]="organisationList" 
				[(ngModel)]="place.organisationId"
				placeholder="No Organisation selected">
			</ngx-select>
			</div>
			<div class="col-sm-4">
				<textbox type="number" label="Service Fee In Percent" [(value)]="place.serviceFeeInPercent" (keydown.enter)="onKeyUp($event)"></textbox>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<label class="mt">Category</label>
				<ngx-select 
				[multiple]="true" 
				[(items)]="categoryList" 
				[(ngModel)]="place.categoryIds"
				placeholder="No Ingredients selected">
			</ngx-select>
			</div>
			<div class="col-sm-6">
				<label class="mt">Additional info</label>
				<ngx-select 
				[multiple]="true" 
				[(items)]="additionalInfoList" 
				[(ngModel)]="place.additionalInfoIds"
				placeholder="No Additional info selected">
				</ngx-select>

			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<text-area label="You can add some Description here" [(value)]="place.description"></text-area>
			</div>
		</div>
	</div>
</card>