<card title="Terms Of Use">
	<div actions>
		<action icon="fa fa-plus" href="/settings/terms-of-use/add" text="Add Terms Of Use" alt="Add Terms Of Use"></action>
	</div>
	<app-datatable *ngIf="settingsList.length > 0" [(columns)]="columns" [(data)]="settingsList" [fakeLoadingFor]="2000" (tableChange)="data = $event" [emptyData]="data.length === 0" emptyDataText="No About Us until now">
		<tbody>
			<tr *ngFor="let item of data; let i=index">
				<td> {{item.id}} </td>
				<td [innerHtml]="item.termsOfUse" >
				</td>
				<td class="text-right">
					<a class="mr-1 mb-1 btn btn-outline-info" [routerLink]="['/settings/terms-of-use/edit/' + item.id]">Edit</a>
	                <checkbox disabled [(value)]="item.isActive" class="pull-left" label="IsActive" (change)="save(item)" ></checkbox>
				</td> 
			</tr>
		</tbody>
	</app-datatable>
</card>