@import "../../../shared/styles/bootstrap/_functions.scss";
@import "../../../shared/styles/bootstrap/_variables.scss";
@import "../../../shared/styles/bootstrap/_mixins";
@import '../../../shared/styles/app/variables.scss';

// Import module styling
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";

/* Fix header text placement */
.bs-datepicker-head > bs-datepicker-navigation-view {
    display: flex;
    justify-content: space-around;
}

/* Custom Theme */
.theme-angle {
    .bs-datepicker-head {
        background-color: $info;
    }
    .bs-datepicker-body table td {
        span.selected, &.selected span,
        span[class*="select-"]:after,
        &[class*="select-"] span:after {
            background-color: $info;
        }
        &.week span {
          color: $info;
        }
    }
}