<card title="Orders">
<card>
	<div [id]="formId">
		<div class="row">
			<div class="col-sm-4">
				<textbox label="Place Name" [(value)]="orderFilter.placeName" (keydown.enter)="onKeyUp($event)"></textbox>
			</div>
			<div class="col-sm-4">
				<textbox label="Table Name" [(value)]="orderFilter.tableName" (keydown.enter)="onKeyUp($event)"></textbox>
			</div>
			<div class="col-sm-4">
				<textbox label="User Name" [(value)]="orderFilter.userName" (keydown.enter)="onKeyUp($event)"></textbox>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5">
				<textbox label="Amount" [(value)]="orderFilter.amount" (keydown.enter)="onKeyUp($event)"></textbox>
			</div>
			<div class="col-sm-6">
				<label>Order Date Range</label>
				<input class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [bsConfig]="bsConfig" (bsValueChange)="getdate($event)">
				<!-- <textbox label="Start Date" type="date" [value]="orderFilter.startDate" (keydown.enter)="onKeyUp($event)" ></textbox> -->
			</div>
<!-- 			<div class="col-sm-4">
				<textbox label="End Date" type="date" [(value)]="orderFilter.endDate" ></textbox>
			</div> -->
			<div class="col-sm-1 d-flex align-items-center justify-content-end">
				<button class="btn btn-info float-right mt-2" type="button" (click)="filter()">Filter</button>
			</div>
		</div>
	</div>
</card>



	<table class="table table-bordered">
		<thead>
			<tr>
				<th *ngFor="let col of columns" class="text-uppercase" [ngClass]="{'text-center': col.name == 'settings' }" >{{col.name}}</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let order of orderList; let i=index">
				<td> {{order.id}} </td>
				<td>{{order?.table?.place?.name}}</td>
				<td>{{order?.table?.number}} {{order?.table?.name}}</td>
				<td>
					{{order?.user?.firstName}} {{order?.user?.lastName}}
				</td>
				<td>{{order?.amount}} {{order?.table?.place?.currencySymbol}}</td>
				<td> <span [ngClass]="order.status == 0 ? 'badge badge-success' : ''">{{statusList[order.status]?.value}} </span></td>
				<td>{{order?.createdDate | date: 'dd/MM/yyyy' }}</td>
				<td>{{order?.createdDate | date: 'hh:mm a' }}</td>
				<td class="text-right">
					<a class="mr-1 mb-1 btn btn-outline-info" [routerLink]="['/order/edit/' + order.id]">Edit</a>
					<checkbox [(value)]="order.isActive" class="pull-left" label="IsActive" (change)="save(order)" ></checkbox>
				</td>
			</tr>
		</tbody>
	</table>
	<br>
	<div class="text-right">
		<pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="orderFilter.page" [totalItems]="length" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
		</pagination>
	</div>
</card>