<card title="Options">
	<div actions>
		<action icon="fa fa-plus" [href]="'/option/add/'+ menuItemId" text="Add Option" alt="Add Option"></action>
	</div>
	<app-datatable *ngIf="optionList.length > 0" [(columns)]="columns" [(data)]="optionList" [fakeLoadingFor]="2000" (tableChange)="data = $event" [emptyData]="data.length === 0" emptyDataText="No Options until now">
		<tbody>
			<tr *ngFor="let option of data; let i=index">
				<td> {{option.id}} </td>
				<td>
					<a [routerLink]="['option/edit/' + option.id]">
						{{option.title}}
					</a>
				</td>
				<td class="text-right">
					<a class="mr-1 mb-1 btn btn-outline-info" [routerLink]="['/property/list/' + option.id]">Property List</a>					
					<a class="mr-1 mb-1 btn btn-outline-info" [routerLink]="['/option/edit/' + option.id]">Edit</a>
	                <checkbox disabled [(value)]="option.isActive" class="pull-left" label="IsActive" (change)="save(option)" ></checkbox>
				</td> 
			</tr>
		</tbody>
	</app-datatable>
</card>