<card title="Notifications Role ">
	<div [id]="formId">
		<div class="row">
			<div class="col-sm-4">
				<dropdown [editable]="true" label="Place" [options]="(placeList)" (changed)="getRoles($event)"></dropdown>
			</div>
			<div class="col-sm-4">
				<dropdown [editable]="true" label="Role" [required]='true' [(value)]="notification.roleId" [options]="(roleList)"></dropdown>
			</div>
			<div class="col-sm-4">
			<!-- 	<multipldropdown label="Select Notification" selectAllItemLabel='Select All Notification' [(value)]="notification.notificationIds" (changed)="getnotifications($event)" [options]="(notificationList)"></multipldropdown> -->
				<label class="mt">Notifications</label>
				<ngx-select 
				[multiple]="true" 
				[(items)]="notificationList" 
				[(ngModel)]="notification.notificationIds"
				placeholder="No Notifications selected">
			</ngx-select>
			</div>
		</div>
	</div>
</card>
<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-info float-right" type="button" (click)="save()">Save</button>
    </div>
</div>