<div class="container">
  <div class="center-middle">

    <h2 class="text-center"><strong >Initializing app</strong>...</h2>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" [ngClass]="{'bg-success':doneLoading}" role="progressbar"
        [attr.aria-valuenow]="loadingPercent" [attr.aria-valuemin]="0" [attr.aria-valuemax]="100" [ngStyle]="{'width':loadingPercent+'%'}">{{loadingPercent}}%</div>
    </div>
  </div>
</div>
