.form-check label .form-check-sign:after,
.form-check label .form-check-sign:before {
  top: 0px !important;
  left: 0px !important;
}

.form-check .form-check-sign.has-error:after,
.form-check .form-check-sign.has-error:before {
  border: 1px solid #12739f;
}

:host .inrow {
  margin-top: 27px;
  display: inline;
}

