<!-- <div *ngIf="switch" [attr.isvalid]="isValid"
  class="input bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-animate {{_value?'bootstrap-switch-on':'bootstrap-switch-off'}}"
  style="width: 72px;" (click)="value = !value">
  <div class="bootstrap-switch-container" style="width: 122px" [style.margin-left]="_value?'0px':'50px'">
    <span class="bootstrap-switch-handle-on bootstrap-switch-primary" style="width: 50px;">
      <i class="now-ui-icons ui-1_check"></i>
    </span>
    <span class="bootstrap-switch-label" style="width: 30px;">&nbsp;</span>
    <span class="bootstrap-switch-handle-off bootstrap-switch-default" style="width: 50px;">
      <i class="now-ui-icons ui-1_simple-remove"></i>
    </span>
    <input type="checkbox" [disabled]="disabled" [checked]="value" name="checkbox" class="bootstrap-switch" />
  </div>
  <div [innerHtml]='label'></div>
</div> -->

<!-- normal checkbox  -->
<div class="c-checkbox d-inline-block" [attr.isvalid]="isValid" *ngIf="!switch">
  <label class="m-0 p-0">
    <input class="m-0 p-0" type="checkbox" [(checked)]="value" (change)="(value = !value)" [disabled]="disabled">
    <span class="fa fa-check"></span>
    <p class="d-inline-block m-0 p-0" [ngClass]="{'has-error':!isValid}"></p>
    <p class="d-inline-block float-right m-0 p-0" [innerHtml]='_label'></p>
  </label>
  <br />
</div>

<!-- switch checkbox -->
<div class="d-inline-block mb-1 mr-1" *ngIf="switch" [attr.isvalid]="isValid" >
    <div class="float-left d-inline-block mr-1" [innerHtml]='label'></div>
    <label class="switch m-0 p-0">
        <input class="m-0 p-0" type="checkbox" [disabled]="disabled" [checked]="value" [(value)]="value" (ngModelChange)="(value = !value)" name="checkbox" />
        <span></span>
    </label>
</div>
