<card title='{{isEdit?" Edit ":"Add "}} Place'>
<div class="row" [id]="formId">
    <div class="card card-transparent w-100">
        <tabset class="bg-white p-0" justified="true">
            <tab>
                <ng-template tabHeading>
                    <em class="fas fa-align-center"></em> Info
                </ng-template>
                <div>
                  <app-place-info [(place)]="place" [isEdit]="isEdit"></app-place-info>
                </div>
            </tab> 
            <tab>
                <ng-template tabHeading>
                    <em class="far fa-images fa-fw"></em> Images
                </ng-template>
                <div>
                  <app-place-images [(place)]="place" (valueChange)="upload($event)"></app-place-images>
                </div>
            </tab>
            <tab>
                <ng-template tabHeading>
                    <em class="fas fa-phone-square fa-fw"></em> Contact 
                </ng-template>
                <div>
                  <app-place-contact [(place)]="place"></app-place-contact>
                </div>
            </tab>
            <tab>
                <ng-template tabHeading>
                    <em class="fas fa-table fa-fw"></em> Tables 
                </ng-template>
                <div>
                  <app-place-tables [(place)]="place" ></app-place-tables>
                </div>
            </tab>
            <tab>
                <ng-template tabHeading>
                    <em class="far icon-menu fa-fw"></em> Menu 
                </ng-template>
                <div>
                  <app-place-menu [(place)]="place" ></app-place-menu>
                </div>
            </tab>
            <tab>
                <ng-template tabHeading>
                    <em class="fas fa-user-alt fa-fw"></em> Personal 
                </ng-template>
                <div>
                  <app-place-personal></app-place-personal>
                </div>
            </tab>
            <tab>
                <ng-template tabHeading>
                    <em class="fas fa-percent fa-fw"></em> Discount 
                </ng-template>
                <div>
                  <app-place-discount [(place)]="place" ></app-place-discount>
                </div>
            </tab>
            <tab>
                <ng-template tabHeading>
                    <em class="far icon-settings fa-fw"></em> Settings 
                </ng-template>
                <div>
                  <app-place-settings [(place)]="place" ></app-place-settings>
                </div>
            </tab>
        </tabset>
    </div>
    <hr/>
</div>
</card>
<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-outline-secondary float-left" (click)="back()">Back</button>
        <button class="btn btn-info float-right" type="button" (click)="save()">Save</button>
    </div>
</div>
