<card title='Terms Of Use'>
	<angular-editor [(ngModel)]="settings.termsOfUse" [config]="editorConfig"></angular-editor>
	<hr>
	<button class="btn btn-outline-secondary float-left" (click)="back()">Back</button>
	<div>
		<button class="btn btn-info float-right" type="button" (click)="save()">Save</button>
	</div>
</card>