<div class="modal-header">
  <h4 class="modal-title pull-left" [translate]>{{title || "Confirm action?"}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="confirmAction(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p [translate]>{{message}}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="confirmAction(true)">Yes</button>
  <button type="button" class="btn btn-danger" (click)="confirmAction(false)">No</button>
</div>
