<card title='{{isEdit?" Edit ":"Add "}} Notification'>
	<div [id]="formId">
		<div class="row">
			<div class="col-sm-6">
				<textbox label="Notification Name" [required]="true" [(value)]="notification.title" (keydown.enter)="onKeyUp($event)"></textbox>
			</div>
			<div class="col-sm-6">
				<textbox label="Notification Body" [required]="true" [(value)]="notification.body" (keydown.enter)="onKeyUp($event)"></textbox>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5">
				<dropdown label="Notification Type" [disabled]="true" [(value)]="notification.type" [(options)]="typelist"></dropdown>
			</div>
			<div class="col-sm-5">
				<dropdown label="Notification Priority" [(value)]="notification.priority" [(options)]="prioritylist"></dropdown>
			</div>
			<div class="col-sm-2 d-flex align-items-center">
				<checkbox [(value)]="notification.isActive" label="IsActive"></checkbox>
			</div>
		</div>
		<hr/>
		<button class="btn btn-outline-secondary float-left" (click)="back()">Back</button>
		<div>
			<button class="btn btn-info float-right" type="button" (click)="save()">Save</button>
		</div>
	</div>
</card>