<card title="Clients">
	<div actions>
		<action icon="fa fa-plus" href="/client/add" text="Add Clinet" alt="Add Clinet"></action>
	</div>
	<app-datatable *ngIf="clientList.length > 0" [(columns)]="columns" [(data)]="clientList" [fakeLoadingFor]="2000" (tableChange)="data = $event" [emptyData]="data.length === 0" emptyDataText="No Additional Info until now">
		<tbody>
			<tr *ngFor="let client of data; let i=index">
				<td> {{client.id}} </td>
				<td> <img class="img-thumbnail thumb64 rounded-circle" [src]="client?.imageUrl ? client?.imageUrl : 'assets/img/user/no_img.png'"/></td>
				<td> {{client.username}} </td>
				<td> {{client.firstName}} </td>
				<td> {{client.lastName}} </td>
				<td> {{client.email}} </td>
				<td class="text-right">
	                <checkbox [(value)]="client.isActive" class="pull-left" label="IsActive" (change)="save(client)" ></checkbox>
				</td>
			</tr>
		</tbody>
	</app-datatable>
</card>