<card title="Tables">
	<div actions>
		<action icon="fa fa-plus" [href]="placeId ? '/tables/table/add/' + placeId : '/tables/table/add/' " text="Add Table" alt="Add Table"></action>
	</div>
	<app-datatable *ngIf="(tableList && tableList.length > 0) || (tables && tables.length > 0)" [(columns)]="columns" [(data)]="placeId ? tables : tableList" [fakeLoadingFor]="2000" (tableChange)="data = $event" [emptyData]="data.length === 0" emptyDataText="No Tables until now">
		<tbody>
			<tr *ngFor="let table of data; let i=index">
				<td> {{table.id}} </td>
				<td>
					<a [routerLink]="[ placeId ? '/tables/table/edit/' + table.id + '/' + placeId : '/tables/table/edit/' + table.id]">
						{{table?.name}}
					</a>
				</td>
				<td>
					{{table?.number}}
				</td>
				<td>
					{{table?.tableGroup?.name}}
				</td>
				<td class="text-right">
					<a class="mr-1 mb-1 btn btn-outline-info" [routerLink]="[ placeId ? '/tables/table/edit/' + table.id + '/' + placeId : '/tables/table/edit/' + table.id]">Edit</a>
	                <checkbox [(value)]="table.isActive" class="pull-left" label="IsActive" (change)="save(table)" ></checkbox>
				</td>
			</tr>
		</tbody>
	</app-datatable>
</card>