<card title='Order View'>
	<div class="row">
		<div class="col-xl-6">
			<div class="list-group-item">
				<div class="d-flex align-items-center py-3">
					<div class="w-50 px-3 text-center">
						<div class="d-flex align-items-center flex-wrap justify-content-center">
							<a href="#">
								<img style="width: 100px; height: 100px;" class="img-thumbnail rounded-circle" [src]="order?.user?.imageUrl ? order?.user?.imageUrl : 'assets/img/user/no_img.png'"/>
							</a>
						</div>
					</div>
					<div class="w-50 px-3">
						<p class="m-0 lead">{{order?.user?.firstName}} {{order?.user?.lastName}}</p>
					</div>
				</div>
			</div>
			<div class="list-group mb-3">
				<div class="list-group-item">
					<div class="d-flex align-items-center py-3">
						<div class="w-50 px-3 text-center">
							<p class="m-0 lead">Open Hours</p>
						</div>
						<div class="w-50 px-3 text-center">
							<p class="m-0 text-sm">{{order?.createdDate | date: 'dd/MM/yyyy hh:mm a'}}</p>
						</div>
					</div>
				</div>				
				<div class="list-group-item">
					<div class="d-flex align-items-center py-3">
						<div class="w-50 px-3 text-center">
							<p class="m-0 lead">Close Hours</p>
						</div>
						<div class="w-50 px-3 text-center">
							<p class="m-0 text-sm">{{(order?.status == 1 || order?.status == 3 ) ? (order?.updatedDate | date: 'dd/MM/yyyy hh:mm a') : ''}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-6">
			<div class="list-group-item">
				<div class="d-flex align-items-center py-3">
					<div class="w-50 px-3 text-center">
						<p class="m-0 lead">Current Status</p>
					</div>
					<div class="w-50 px-3 text-center">
						{{statusList[order.status]?.value}}
					</div>
				</div>
			</div>
			<div class="list-group-item">
				<div class="d-flex align-items-center py-3">
					<div class="w-50 px-3 text-center">
						<p class="m-0 lead">Payment Type</p>
					</div>
					<div class="w-50 px-3 text-center">
						<span class="m-0 text-sm" *ngFor="let item of order.transactions; let i = index">
							{{typelist[item.type].value}} {{(i != order.transactions.length-1) ? ',' : ''}}
						</span>
					</div>
				</div>
			</div>				
			<div class="list-group-item">
				<div class="d-flex align-items-center py-3">
					<div class="w-50 px-3 text-center">
						<p class="m-0 lead">Transaction Number</p>
					</div>
					<div class="w-50 px-3 text-center">
						<span class="m-0 text-sm" *ngFor="let item of order.transactions; let i = index">
							{{item?.transactionId}} {{(i != order.transactions.length-1) ? ',' : ''}}
						</span>
					</div>
				</div>
			</div>				
			<div class="list-group-item">
				<div class="d-flex align-items-center py-3">
					<div class="w-50 px-3 text-center">
						<p class="m-0 lead">Closed By {{ order?.closedByRoll[0] ? order?.closedByRoll[0] : '' }}</p>
					</div>
					<div class="w-50 px-3 text-center">
						<span class="m-0 text-sm" *ngFor="let item of order.transactions; let i = index">
							{{item?.user?.userName}} {{(i != order.transactions.length-1) ? ',' : ''}}
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="unwrap my-3">
		<div class="card" id="cardChart9">
			<div class="card-body">
				<div class="row">
					<div class="col-md-3 col-6 text-center">
						<p>Amount</p>
						<div class="h1">{{order?.price}} {{order?.table?.place?.currencySymbol}}</div>
					</div>
					<div class="col-md-3 col-6 text-center">
						<p>Service Fee</p>
						<div class="h1">{{order?.table?.place?.serviceFeeInPercent}} %</div>
					</div>
					<div class="col-md-3 col-6 text-center">
						<p>Discount</p>
						<div class="h1">{{(order?.discount?.percent) ? order?.discount?.percent : 0}} %</div>
					</div>
					<div class="col-md-3 col-6 text-center">
						<p><b>Total</b></p>
						<div class="h1 text-truncate"><b>{{order?.amount }} {{order?.table?.place?.currencySymbol}}</b></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="list-group mb-3" *ngFor="let item of order.menuItemOrderRefGroups">
		<span class="list-group-item">
			<table class="wd-wide">
				<tbody>
					<tr>
						<td class="wd-xs">
							<div class="px-2 ">
								<img *ngIf="item?.menuItemOrderRef?.menuItem?.imageUrl" class="img-fluid item_image rounded thumb64" src="{{item?.menuItemOrderRef?.menuItem?.imageUrl}}" alt="" />
							</div>
						</td>
						<td style="width: 170px">
							<h4 class="mr-2">{{item.menuItemOrderRef.menuItem.name}}</h4>
						</td>
						<td class="wd-sm  d-none d-lg-table-cell">
							<div class="px-2 text-center">
								<p class="m-0">{{item?.menuItemOrderRef?.isPartner ? order.parnerRoll : 'Client' }}</p>
								<p class="text-muted">{{item.menuItemOrderRef.user.firstName}} {{item.menuItemOrderRef.user.lastName}}</p>
							</div>
						</td>
						<td class="wd-xs d-none d-lg-table-cell">
							<div class="px-2 text-center">
								<p class="m-0">Table Name</p>
								<p class="text-muted">{{order?.table?.number}} {{order?.table?.name}}</p>
							</div>
						</td>
						<td class="wd-xs d-none d-lg-table-cell">
							<div class="px-2 text-center">
								<p class="m-0">Item Price</p>
								<p class="text-muted">{{item.menuItemOrderRef.menuItem.price}} {{order?.table?.place?.currencySymbol}}</p>
							</div>
						</td>
						<td class="wd-xs d-none d-lg-table-cell">
							<div class="px-2 text-center">
								<p class="m-0">Quantity</p>
								<p class="text-muted">{{item.quantity}}</p>
							</div>
						</td>
						<td class="wd-xs d-none d-lg-table-cell">
							<div class="px-2 text-center">
								<p class="m-0">Amount</p>
								<p class="text-muted">{{item.menuItemOrderRef.price * item.quantity}} {{order?.table?.place?.currencySymbol}}</p>
							</div>
						</td>
						<td class="wd-xs d-none d-lg-table-cell">
							<div class="px-2 text-center">
								<p class="m-0">Order Status</p>
								<span class="m-0 text-sm badge" [ngStyle]="{'color': 'white', 'background-color' : item.menuItemOrderRef.status.colorInHex}">{{item.menuItemOrderRef.status.name}}</span>
							</div>
						</td>						
						<td class="wd-xs d-none d-lg-table-cell">
							<div class="px-2 text-center">
								<p class="m-0">Property Name</p>
								<div *ngFor="let option of item.menuItemOrderRef.options">
									<span class="text-sm" >{{option?.property?.name}}</span>
								</div>
							</div>
						</td>						
						<td class="wd-xs d-none d-lg-table-cell">
							<div class="px-2 text-center">
								<p class="m-0">Option Name</p>
								<div *ngFor="let option of item.menuItemOrderRef.options">
									<span class="text-sm" >{{option?.name}}</span>
								</div>
							</div>
						</td>						
						<td class="wd-xs d-none d-lg-table-cell">
							<div class="px-2 text-center">
								<p class="m-0">Property Price</p>
								<div *ngFor="let option of item.menuItemOrderRef.options">
									<span class="text-sm" >{{option?.property?.price}}</span>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</span>
	</div>
	<button class="btn btn-outline-secondary float-left" (click)="back()">Back</button>
</card>