.medium {
  padding: 20px !important;
  font-size: 20px;
}

.large {
  padding: 30px 20px !important;
  font-size: 30px;
}

/* .no-prefix .input-group-prepend,
.no-prefix .input-group-append {
  display: none;
}
*/

.form-control {
  border: 1px solid #e3e3e3 !important;
  /*border-radius: 30px;*/
}

.has-prefix .form-control {
  border-left: none;
}

.has-suffix .form-control {
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.has-prefix .has-danger:after,
.has-prefix .has-success:after {
  right: 40px;
}

.form-group .input-group {
  margin-bottom: 0px;
}

.form-group label {
  margin-left: 2px;
}

.help-block {
  font-size: 10px;
}

.help-block span {
  margin-left: 2px;
}

.focused .form-control:focus,
.focused .input-group-prepend .input-group-text,
.focused .input-group-append .input-group-text {
  border-color: #80bdff;
}

[isValid=false][pristine=false] .form-control,
[isValid=false][pristine=false] .input-group-prepend .input-group-text,
[isValid=false][pristine=false] .input-group-append .input-group-text {
  border-color: #12739f;
  box-shadow: none;
  outline: 0 !important;
  color: #2c2c2c;
}

.form-group .input-group-append .input-group-text,
.form-group .input-group-prepend .input-group-text,
.input-group .input-group-append .input-group-text,
.input-group .input-group-prepend .input-group-text {
  padding: .375rem .75rem;
}

.info-point {
  float: right;
  margin-top: 4px;
}

.error_border {
  border: 1px solid #f96332 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}