<div class="input form-group {{!!label ? 'has-label':''}}" [attr.isvalid]="isValid" [attr.pristine]="isControlPristine">
  <label *ngIf="label">{{label || ""}}{{required ? '*' : ''}}</label>
  <ng-template #popTemplate>
    <div [innerHtml]="info"></div>
  </ng-template>
  <div *ngIf="info" class="info-point text-info">
    <span class="fa fa-info-circle" [tooltip]="popTemplate"></span>
  </div>
  <div class="input-group" [ngClass]="{'focused':focused, 'has-prefix':hasPrefix, 'has-suffix':hasSuffix}">
    <!-- prefix -->
    <div class="input-group-prepend" *ngIf="prefixIcon || prefix">
      <div class="input-group-text">
        <i *ngIf="prefixIcon" class="{{prefixIcon}}"></i>
        <span *ngIf="prefix">{{prefix}}</span>
      </div>
    </div>
    <input [ngClass]="{'error_border': controlErrors.length > 0 }" class="form-control {{size}}"  [placeholder]="_placeholder" [type]="type" [name]="label" [disabled]="disabled"
      [required]="required" (focus)="onFocus()" (blur)="onBlur()" [(ngModel)]="value" [autocomplete]="(type == 'password')? 'new-password' : 'off'" />
    <!-- <div class="{{fieldStatusClass}}"></div> -->
    <!-- suffix -->
    <div class="input-group-append" *ngIf="suffixIcon || suffix">
      <div class="input-group-text">
        <i *ngIf="suffixIcon" class="{{suffixIcon}}"></i>
        <span *ngIf="suffix">{{suffix}}</span>
      </div>
    </div>
  </div>
  <span *ngIf="error_message" class="help-block text-danger">
    <span *ngFor="let e of controlErrors">{{e}}
      <br />
    </span>
  </span>
</div>
