<card title='{{isEdit?" Edit ":"Add "}} Table Group'>
	<div [id]="formId">
		<div class="row">
			<div class="col-sm-5">
				<textbox label="Table Group Name" [required]="true" [(value)]="tableGroup.name" (keydown.enter)="onKeyUp($event)"></textbox>
			</div>
			<div class="col-sm-5">
				<dropdown [editable]="true" label="Place List"  [emptyItemLabel]="!isEdit ? 'Select a Place': ''"  [required]='true' [(value)]="tableGroup.placeId" [(options)]="placeList"></dropdown>
			</div>
			<div class="col-sm-2 d-flex align-items-center">
				<checkbox [(value)]="tableGroup.isActive" label="IsActive"></checkbox>
			</div>
		</div>
		<hr/>
		<button class="btn btn-outline-secondary float-left" (click)="back()">Back</button>
		<div>
			<button class="btn btn-info float-right" type="button" (click)="save()">Save</button>
		</div>
	</div>
</card>