<card title='{{isEdit?" Edit ":"Add "}} User'>
	<div [id]="formId">
		<div class="row">
			<div class="col-sm-5">
				<textbox label="User Phone Number (Phone number used during registration)" placeholder="ex: +374 xx xxx xxx" [required]="true" [(value)]="user.userLogin" (keydown.enter)="onKeyUp($event)"></textbox>
			</div>
			<div class="col-sm-5">
				<dropdown [editable]="true" label="Roles List"  [emptyItemLabel]="!isEdit ? 'Select a Role': ''"  [required]='true' [(value)]="user.roleId" [(options)]="roleList"></dropdown>
			</div>
			<div class="col-sm-2 d-flex align-items-center">
				<checkbox class="mr-2" [(value)]="user.isActive" label="IsActive"></checkbox>
			</div>
		</div>
		<hr/>
		<button class="btn btn-outline-secondary float-left" (click)="back()">Back</button>
		<div>
			<button class="btn btn-info float-right" type="button" (click)="save()">Save</button>
		</div>
	</div>
</card>