<card title="Notifications">
	<app-datatable *ngIf="notList.length > 0" [(columns)]="columns" [(data)]="notList" [fakeLoadingFor]="2000" (tableChange)="data = $event" [emptyData]="data.length === 0" emptyDataText="No Notification until now">
		<tbody>
			<tr *ngFor="let not of data; let i=index">
				<td> {{not.id}} </td>
				<td>
					<a [routerLink]="['notification/edit/' + not.id]">
						{{not.title}}
					</a>
				</td>
				<td class="text-right">
					<a class="mr-1 mb-1 btn btn-outline-info" [routerLink]="['/notification/edit/' + not.id]">Edit</a>
	                <checkbox [(value)]="not.isActive" class="pull-left" label="IsActive" (change)="save(not)" ></checkbox>
				</td>
			</tr>
		</tbody>
	</app-datatable>
</card>