/* You can add global styles to this file, and also import other style files */

//== Vendor
@import '~@fortawesome/fontawesome-free/css/brands.css';
@import '~@fortawesome/fontawesome-free/css/regular.css';
@import '~@fortawesome/fontawesome-free/css/solid.css';
@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
@import '~simple-line-icons/css/simple-line-icons.css';
@import '~weather-icons/css/weather-icons.css';
@import '~weather-icons/css/weather-icons-wind.css';

@import '~spinkit/css/spinkit.css';
@import '~loaders.css/loaders.css';

@import '~angular2-toaster/toaster.css';

@import '~ng2-dnd/bundles/style.css';

@import '~ag-grid-community/dist/styles/ag-grid.css';
@import '~ag-grid-community/dist/styles/ag-theme-fresh.css';

@import '~ika.jvectormap/jquery-jvectormap-1.2.2.css';

@import '~jqcloud2/dist/jqcloud.css';

@import '~summernote/dist/summernote.css';

@import '~fullcalendar/dist/fullcalendar.min.css';

@import '~codemirror/lib/codemirror.css';

//== Bootstrap
@import "./app/shared/styles/bootstrap.scss";
//== Application
@import "./app/shared/styles/app.scss";

.header-text{
    font-size: 1.5rem;
    line-height: 1.1;
    color: #929292;
    padding: 15px;
    font-weight: normal;
}

.image-list {
	width: 100%;
	height: 200px;
    object-fit: contain;
}