<card title='{{isEdit?" Edit ":"Add "}} Organisation'>
	<div [id]="formId">
		<div class="row">
			<div class="col-sm-6">
				<textbox label="Additional Info Name" [required]="true" [(value)]="additional.name" (keydown.enter)="onKeyUp($event)"></textbox>
			</div>
			<div class="col-sm-1 d-flex align-items-center">
				<checkbox [(value)]="additional.isActive" label="IsActive"></checkbox>
			</div>
			<div class="col-sm-5 d-flex align-items-center">
				<upload label="Additional Info Logo" (fileChanged)="logo=$event"></upload>
			</div>	
		</div>
		<hr/>
		<button class="btn btn-outline-secondary float-left" (click)="back()">Back</button>
		<div>
			<button class="btn btn-info float-right" type="button" (click)="save()">Save</button>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-center">
			<div *ngIf="additional.logoUrl && additional.logoUrl.url">
				<p class="header-text text-center" >Logo</p>
				<img [(src)]="additional.logoUrl.url" height="200">
			</div>
		</div>
		<div class="col-sm-6 text-center">
			<div *ngIf="additional.coverUrl && additional.coverUrl.url">
				<p class="header-text text-center">Cover</p>
				<img [(src)]="additional.coverUrl.url" height="200">
			</div>
		</div>
	</div>
</card>
<card>
	<div class="row" *ngIf="additional.imageUrls.length > 0">
		<p class="col-sm-12 header-text text-center"> Images List </p>
		<div class="col-sm-4" *ngFor="let img of additional.imageUrls">
			<img [(src)]="img.url" class="image-list">
		</div>
	</div>
	<p class="header-text text-center" *ngIf="additional.imageUrls.length === 0" >No images until now.</p>
</card>
