<card title="Status">
	<app-datatable *ngIf="statusList.length > 0" [(columns)]="columns" [(data)]="statusList" [fakeLoadingFor]="2000" (tableChange)="data = $event" [emptyData]="data.length === 0" emptyDataText="No Status until now">
		<tbody>
			<tr *ngFor="let status of data; let i=index">
				<td> {{status.id}} </td>
				<td>
					<a [routerLink]="['status/edit/' + status.id]">
						{{status.name}}
					</a>
				</td>
				<td class="text-right">
					<a class="mr-1 mb-1 btn btn-outline-info" [routerLink]="['/status/edit/' + status.id]">Edit</a>
	                <checkbox [(value)]="status.isActive" class="pull-left" label="IsActive" (change)="save(status)" ></checkbox>
				</td>
			</tr>
		</tbody>
	</app-datatable>
</card>