<card title="Menu Item">
	<div [id]="formId">
		<div class="row">
			<div class="col-sm-6">
				<textbox label="Name" [required]="true" [(value)]="menuItem.name" (keydown.enter)="onKeyUp($event)">
				</textbox>
			</div>
			<div class="col-sm-6">
				<textbox label="Price" type="number" [required]="true" [(value)]="menuItem.price" (keydown.enter)="onKeyUp($event)">
				</textbox>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<textbox label="Weight" type="number" [required]="true" [(value)]="menuItem.weight" (keydown.enter)="onKeyUp($event)">
				</textbox>
			</div>
			<div class="col-sm-4">
				<textbox label="Calories" type="number" [required]="true" [(value)]="menuItem.calories" (keydown.enter)="onKeyUp($event)">
				</textbox>
			</div>
			<div class="col-sm-4">
				<textbox label="Pieces" type="number" [required]="true" [(value)]="menuItem.pieces" (keydown.enter)="onKeyUp($event)">
				</textbox>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
                <label class="mt">Ingredients</label>
				<ngx-select 
				[multiple]="true" 
				[(items)]="ingredientList" 
				[(ngModel)]="menuItem.ingredientIds"
				placeholder="No Ingredients selected">
			</ngx-select>
		</div>
		<div class="col-sm-6">
			<dropdown [editable]="true" [emptyItemLabel]="!isEdit ? 'Select a Section': ''" label="Sections" [required]='true' [(value)]="menuItem.sectionId" [(options)]="sectionList"></dropdown>
		</div>
	</div>
	<div class="row pt-2">
		<div class="col-sm-12">
			<text-area label="Description" [(value)]="menuItem.description" (keydown.enter)="onKeyUp($event)"></text-area>
		</div>
	</div>
	<div class="row pt-2">
		<div class="col-sm-6">
			<upload label="Menu Image" class="pull-left" (fileChanged)="file = $event"></upload>
		</div>
		<div class="col-sm-6 d-flex align-items-center">
			<checkbox [(value)]="menuItem.isActive" class="pull-left" label="IsActive"></checkbox>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 mt-3">
			<app-image *ngIf="menuItem?.imageUrl" [src]="menuItem?.imageUrl" [id]="menuItem?.imageUrl" [height]="200" (fileChanged)="delete($event)"></app-image>
		</div>
	</div>
</div>
</card>
<hr/>
<app-option-list [(menuItemId)]="menuItem.id" ></app-option-list>
<hr/>
<button class="btn btn-outline-secondary float-left" (click)="back()">Back</button>
<div class="row">
	<div class="col-sm-12">
		<button class="btn btn-info float-right" type="button" (click)="save()">Save</button>
	</div>
</div>