<card>
	<div class="row" [id]="formId">
		<div class="col-sm-4">
			<textbox label="Section Name" [required]="true" [(value)]="section.name" (keydown.enter)="onKeyUp($event)">
			</textbox>
		</div>
		<div class="col-sm-4">
			<label class="mt">Roles</label>
				<ngx-select 
				[multiple]="true" 
				[(items)]="roleList" 
				[(ngModel)]="section.roleIds"
				placeholder="No Roles selected">
			</ngx-select>
		</div>
		<div class="col-sm-4 d-flex align-items-center">
			<checkbox [(value)]="section.isActive" class="pull-left" label="IsActive"></checkbox>
		</div>
	</div>
</card>
<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-info float-right" type="button" (click)="save()">Save</button>
    </div>
</div>