<card title="Propertyes">
	<div actions>
		<action icon="fa fa-plus" [href]="'/property/add/' + optionId" text="Add Property" alt="Add Property"></action>
	</div>
	<app-datatable *ngIf="propertyList.length > 0" [(columns)]="columns" [(data)]="propertyList" [fakeLoadingFor]="2000" (tableChange)="data = $event" [emptyData]="data.length === 0" emptyDataText="No Propertyes until now">
		<tbody>
			<tr *ngFor="let property of data; let i=index">
				<td> {{property.id}} </td>
				<td>
					<a [routerLink]="['/property/edit/' + property.id]">
						{{property.text}}
					</a>
				</td>
				<td class="text-right">
					<a class="mr-1 mb-1 btn btn-outline-info" [routerLink]="['/property/edit/' + property.id]">Edit</a>
	                <checkbox [(value)]="property.isActive" class="pull-left" label="IsActive" (change)="save(property)" ></checkbox>
				</td>
			</tr>
		</tbody>
	</app-datatable>
</card>
<hr/>
<button class="btn btn-outline-secondary float-left" (click)="back()">Back</button>
