<card title="Menu">
	<div actions>
		<action icon="fa fa-plus" [href]="placeId ? '/menu/add/' + placeId : '/menu/add/' " text="Add Menu" alt="Add Menu"></action>
	</div>
	<app-datatable *ngIf="(menuList && menuList.length > 0) || (menus && menus.length > 0)" [(columns)]="columns" [(data)]="placeId ?  menus : menuList" [fakeLoadingFor]="2000" (tableChange)="data = $event" [emptyData]="data.length === 0" emptyDataText="No Menu Item until now">
		<tbody>
			<tr *ngFor="let menu of data; let i=index">
				<td> {{menu.id}} </td>
				<td><img *ngIf="menu?.imageUrls[0]?.url" [src]="menu?.imageUrls[0]?.url" class="img-fluid circle menu_img"></td>
				<td>
					<a [routerLink]="[placeId ? '/menu/edit/' + menu.id + '/' + placeId : '/menu/edit/' + menu.id]">
						{{menu.name}}
					</a>
				</td>
				<td class="text-right">
					<a class="mr-1 mb-1 btn btn-outline-info" [routerLink]="[placeId ? '/menu/edit/' + menu.id + '/' + placeId : '/menu/edit/' + menu.id]">Edit</a>
	                <checkbox [(value)]="menu.isActive" class="pull-left" label="IsActive" (change)="save(menu)" ></checkbox>
				</td>
			</tr>
		</tbody>
	</app-datatable>
</card>
