<div class="card">
  <div *ngIf="!!title" class="card-header">
    <div class="float-right" title="Actions">
      <ng-content select="[actions]"></ng-content>
    </div>
    <h4 class="card-title" (click)="toggleCard()">
      <span class="fa fa-chevron-down" *ngIf="!cardOpen && collapsable"></span>
      <span class="fa fa-chevron-up" *ngIf="cardOpen && collapsable"></span>
      <span>{{title}}</span></h4>
  </div>
  <div class="card-body" *ngIf="cardOpen">
    <!-- <div class="card card-body"> -->
    <div class="p-1">
      <ng-content></ng-content>
    </div>
  </div>
</div>
