<card title='{{isEdit?" Edit ":"Add "}} Option'>
	<div [id]="formId">
		<div class="row">
			<div class="col-sm-4">
				<textbox label="Option Name" [required]="true" [(value)]="option.title" (keydown.enter)="onKeyUp($event)"></textbox>
			</div>
			<div class="col-sm-4">
				<textbox label="Option Description" [required]="true" [(value)]="option.description" (keydown.enter)="onKeyUp($event)"></textbox>
			</div>
			<div class="col-sm-4">
				<dropdown label="Option Type" [(value)]="option.type" [(options)]="typelist"></dropdown>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5">
				<textbox label="Option Menu" disabled [(value)]="menu" ></textbox>
				<!-- <dropdown [editable]="true" label="Menu List" [(value)]="menuId" [(options)]="menuList" (valueChange)="changeMenuItemList($event)" disabled></dropdown> -->
			</div>
			<div class="col-sm-5">
				<textbox label="Option Menu Item" disabled [(value)]="menuitem" ></textbox>
				<!-- <dropdown [editable]="true" label="Menu Item List"  [emptyItemLabel]="!isEdit ? 'Select a Menu Item': ''" disabled [(value)]="option.menuItemId" [(options)]="menuItemList"></dropdown> -->
			</div>
			<div class="col-sm-2 d-flex align-items-center">
				<checkbox [(value)]="option.isActive" label="IsActive"></checkbox>
			</div>
		</div>
		<hr/>
		<button class="btn btn-outline-secondary float-left" (click)="back()">Back</button>
		<div>
			<button class="btn btn-info float-right" type="button" (click)="save()">Save</button>
		</div>
	</div>
</card>
