	<card title="Places">
		<div actions>
			<action icon="fa fa-plus" href="/place/add" text="Add Place" alt="Add Place"></action>
		</div>
		<div class="row">
			<div class="col-sm-9">
				<textbox placeholder="Filter" (keyup)="filter = $event.target.value"></textbox>
			</div>
			<div class="col-sm-3">
				<button class="btn w-100 btn-info" (click)="placeFilter()">Filter</button>
			</div>
		</div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th *ngFor="let col of columns" class="text-uppercase" [ngClass]="{'text-center': col.name == 'settings' }" >{{col.name}}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let place of placeList; let i=index">
					<td> {{place.id}} </td>
					<td><img *ngIf="place?.logoUrl?.url" [src]="place?.logoUrl?.url" class="img-fluid circle menu_img"></td>
					<td>
						<a [routerLink]="['/place/edit/' + place.id]">
							{{place.name}}
						</a>
					</td>
					<td class="text-right">
						<a class="mr-1 mb-1 btn btn-outline-info" [routerLink]="['/place/edit/' + place.id]">Edit</a>
						<checkbox [(value)]="place.isActive" class="pull-left" label="IsActive" (change)="save(place)" ></checkbox>
					</td>
				</tr>
			</tbody>
		</table>
		<br>
		<div class="text-right">
			<pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
			</pagination>
		</div>
