<card title="Organisations">
	<div actions>
		<action icon="fa fa-plus" href="/organisations/add" text="Add Organisation" alt="Add Organisation"></action>
	</div>
	<app-datatable *ngIf="organisationList.length > 0" [(columns)]="columns" [(data)]="organisationList" [fakeLoadingFor]="2000" (tableChange)="data = $event" [emptyData]="data.length === 0" emptyDataText="No Organisations until now">
		<tbody>
			<tr *ngFor="let organisation of data; let i=index">
				<td> {{organisation.id}} </td>
				<td><img *ngIf="organisation?.logoUrl?.url" [src]="organisation?.logoUrl?.url" class="img-fluid circle menu_img"></td>
				<td>
					<a [routerLink]="['/organisations/edit/' + organisation.id]">
						{{organisation.name}}
					</a>
				</td>
				<td class="text-right">
					<a class="mr-1 mb-1 btn btn-outline-info" [routerLink]="['/organisations/edit/' + organisation.id]">Edit</a>
	                <checkbox [(value)]="organisation.isActive" class="pull-left" label="IsActive" (change)="save(organisation)" ></checkbox>
				</td>
			</tr>
		</tbody>
	</app-datatable>
</card>
