<card title="Categories">
	<div actions>
		<action icon="fa fa-plus" href="/category/add" text="Add Category" alt="Add Category"></action>
	</div>
	<form>
		<input class="form-control" #filter (keyup)="filterNodes(filter.value, tree)" placeholder="Filter Categories" />
	</form>
	<tree-root #tree [nodes]="categoryList" [focused]="true" style="font-size: 17px" [options]="customTemplateStringOptions" >
		<ng-template #treeNodeTemplate let-node>
			<span title="{{node.data.descrition}}">{{ node.data.name }}</span>
			<span > {{ childrenCount(node) }} </span>
			<button class="btn btn-outline-info btn-xs mr-2" (click)="go(node.data)">Edit </button>
			<checkbox style="line-height: 1" [(value)]="node.data.isActive" class="pull-left" label="IsActive" (change)="save(node.data)" ></checkbox>
		</ng-template>
		<ng-template #loadingTemplate>Loading, please hold....</ng-template>
	</tree-root>
</card>