<card title="Places">
	<div actions>
		<action icon="fa fa-plus" href="/place/add" text="Add Place" alt="Add Place"></action>
	</div>
	<app-datatable [(columns)]="columns" [(data)]="placeList" [fakeLoadingFor]="2000" (tableChange)="data = $event" [emptyData]="data.length === 0" emptyDataText="No Places until now">
		<tbody>
			<tr *ngFor="let place of data; let i=index">
				<td> {{place.id}} </td>
				<td>
					<a [routerLink]="['/place/edit/' + place.id]">
						{{place.name}}
					</a>
				</td>
				<td class="text-right">
					<a class="mr-1 mb-1 btn btn-outline-info" [routerLink]="['/place/edit/' + place.id]">Edit</a>
	                <checkbox [(value)]="place.isActive" class="pull-left" label="IsActive" (change)="save(place)" ></checkbox>
				</td>
			</tr>
		</tbody>
	</app-datatable>
</card>