<card title='{{isEdit?" Edit ":"Add "}} Intro'>
	<div [id]="formId">
		<div class="row">
			<div class="col-sm-5">
				<textbox label="Intro Name" [required]="true" [(value)]="intro.title" (keydown.enter)="onKeyUp($event)"></textbox>
			</div>
			<div class="col-sm-5">
				<textbox label="Intro Description" [required]="true" [(value)]="intro.description" (keydown.enter)="onKeyUp($event)"></textbox>
			</div>
			<div class="col-sm-2 d-flex align-items-center">
				<checkbox [(value)]="intro.isActive" label="IsActive"></checkbox>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<upload label="Intro Image" class="pull-left " (fileChanged)=" image = $event "></upload>
				<div class="col-sm-4 ml-0 mt-3" *ngIf="intro?.imageUrl">
					<app-image *ngIf="intro?.imageUrl" [src]="intro?.imageUrl" [id]="intro?.imageUrl" (fileChanged)="delete($event)"></app-image>
				</div>
			</div>
		</div>
		<hr/>
		<button class="btn btn-outline-secondary float-left" (click)="back()">Back</button>
		<div>
			<button class="btn btn-info float-right" type="button" (click)="save()">Save</button>
		</div>
	</div>
</card>