<div class="modal-header">
  <h4 class="modal-title pull-left" [translate]>{{title || "Info"}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="ok()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h5 *ngIf="message" [translate]>{{message}}</h5>
  <div *ngIf="html" [innerHTML]="html"></div>
</div>
<div class="modal-footer text-center">
  <button type="button" class="btn btn-success" (click)="ok()">OK</button>
</div>
