<div [title]="_label" attr.isvalid="{{isValid}}" attr.pristine="{{isPristine}}" class="btn-group form-group dropdown"
dropdown (click)="isPristine=false">
<label *ngIf="label">{{_label}}</label>
<button  id="button-{{id}}"  type="button"  (click)="isCollapsed = !isCollapsed" class="btn-white-space select btn btn-transparent 
btn-round dropdown-toggle {{disabled?'disabled':''}} {{appended=='left'?'left-appended':''}} {{appended=='right'?'right-appended':''}}"
[attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
<i *ngIf="icon" class="{{icon}}"></i>
{{(valueToDisplay.length > 0)? valueToDisplay : selectAllItemLabel }}
</button>

<ul class="dropdown-menu" id="collapseBasic" [collapse]="isCollapsed">
  <li role="menuitem" >
    <a class="dropdown-item"(click)="selectAllOption()">
      <div class="c-checkbox d-inline-block">
        <label style="display:inline-block">
          <input type="checkbox" [checked]="sellectAll" >
          <span class="fa fa-check"></span>
          <p class="d-inline-block" [innerHtml]="selectAllItemLabel"></p>
        </label>
        <br />
      </div>
    </a>
  </li>

  <li role="menuitem" *ngFor="let option of options" [id]="option.key">
    <a class="dropdown-item"(click)="selectOption(option)">
      <div class="c-checkbox d-inline-block">
        <label style="display:inline-block">
          <input type="checkbox" [checked]="option.checked" >
          <span class="fa fa-check"></span>
          <p class="d-inline-block" [innerHtml]="optionAsHtml(option)"></p>
        </label>
        <br />
      </div>
    </a>
  </li>
</ul>
</div>